

h1, h2, h3, h4,h5, label, span {
  color: #171717;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input, select, button {
  padding: 0.5em;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

